@model List<EmployerReviewRequest_Model>

<h2>Review Requests</h2>

@if (Model.Count > 0)
{
    <div class="card-deck">
        <form method="post" action="@Url.Action("ApproveReviewRequests", "Admin")">
            @foreach (var request in Model)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Request ID: @request.JobReviewRequest_Id</h5>
                        <h6 class="card-subtitle mb-2 text-muted">User ID: @request.EmployerId</h6>
                        <p class="card-text">Request Date: @request.Request_Date</p>
                        <p class="card-text">Status:@(request.Employer.IsApproved ? "Approved" : "Not Approved")</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="approveCheckbox-@request.JobReviewRequest_Id" name="approveRequests" value="@request.JobReviewRequest_Id">
                            <label class="form-check-label" for="approveCheckbox-@request.JobReviewRequest_Id">
                                Approve
                            </label>
                        </div>
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
}
else
{
    <p>No pending review requests found.</p>
}
