@model IEnumerable<Job_Search_Application.Models.JobRequest_Model>

@{
    ViewBag.Title = "AllRequests";
}

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
    <button type="button" class="btn btn-primary">Primary</button>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        
                @foreach (var job in ViewBag.PublishedJobs)
                {
                    <a class="dropdown-item job-application" data-job="@job.Title" href="/Employer/All_Requests?jobApplication=@job.Title">@job.Title</a>
                }

            
        </div>
    </div>
</div>

<div class="allRequests">
    @if (Model.Count() == 0)
    {
        <div class="container mt-5">
            <div class="alert alert-info">There are no requests for jobs.</div>
        </div>
    }
    else
    {
        <div class="container">
            <br />
            <div class="requests-count">
                There are <strong>@Model.Count()</strong> requests.
            </div>

            <table class="table" style="text-align:center">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Applied Job</th>
                        <th>Status</th>
                        <th>View Profile</th>
                    </tr>
                </thead>
                <tbody id="jobRequestTable">
                    @foreach (var item in Model)
                    {
                        <tr class="job-request-row" data-job="@item.Job.Title">
                            <td class="text-capitalize">@item.Employee.First_name @item.Employee.Last_name</td>
                            
                            <td>@item.Job.Title</td>
                            <td>
                                @{
                                    string status = string.Empty;
                                    if (item.Request_Status == "pending")
                                    {
                                        status = "Awaiting Review";
                                    }
                                    else if (item.Request_Status == "accepted")
                                    {
                                        status = "Reviewed Accepted";
                                    }
                                }
                                @status <br />
                                <p class=" text-muted" style="font-size:smaller;">Applied on @item.Request_Date.Value.ToShortDateString()</p>
                            </td>

                            <td>
                                @Html.ActionLink("View Profile", "GetEmployee_Profile", "Employer",
                        new { id = item.EmployeeId, requestID = item.JobRequest_Id },
                        new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('.job-application').on('click', function () {
            var selectedJob = $(this).data('job');
            filterJobRequests(selectedJob);
        });
    });

    function filterJobRequests(selectedJob) {
        if (selectedJob) {
            $('.job-request-row').hide();
            $('.job-request-row[data-job="' + selectedJob + '"]').show();
        } else {
            $('.job-request-row').show();
        }
    }
</script>
