@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using System.Linq;
@using System.Web;


@model IPagedList<Job_Search_Application.Models.Jobs_Model>;
@{
    ViewData["Title"] = "Published Job";
}

<br />
<br />
<span class="userId" style="display:none;">@ViewBag.CurrentUser</span>
<div class="container shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
       <br />
<div class="col-md-9 ">
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Job title, part-time...">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
  

</div>
    <br />

        <h3>Your listings</h3>
        <br />
   
    <br />
   


        @foreach (var item in Model)
        {
        // Access the views for the current job
        var jobViews = ViewBag.JobViews as Dictionary<string, int>;
        // Get the views count for the current job
        int viewsCount = jobViews != null && jobViews.ContainsKey(item.Jobs_Id) ? jobViews[item.Jobs_Id] : 0;
        // Access the applies for the current job
        var jobApplies = ViewBag.JobApplies as Dictionary<string, int>;
        // Get the applies count for the current job
        int appliesCount = jobApplies != null && jobApplies.ContainsKey(item.Jobs_Id) ? jobApplies[item.Jobs_Id] : 0;
        // Access the Reviewed Candidates for the current job
        var reviewedCandidates = ViewBag.ReviewedCandidates as Dictionary<string, int>;
        // Get the Reviewed candidates count for the current job
        int reviewedCandidatesCount = reviewedCandidates != null && reviewedCandidates.ContainsKey(item.Jobs_Id) ? reviewedCandidates[item.Jobs_Id] : 0;
        // Access the Selected candidates for the current job
        var selectedCandidates = ViewBag.SelectedCandidates as Dictionary<string, int>;
        // Get the selected candidates count for the current job
        int selectedCandidatesCount = selectedCandidates != null && selectedCandidates.ContainsKey(item.Jobs_Id) ? selectedCandidates[item.Jobs_Id] : 0;



        <div class="row d-flex justify-content-center">
                <div class="col-md-10 shadow" style="background-color:aliceblue;border-radius:20px;">
                <br />
                        <div class="card-header">
                    <h5> <a href="#">@item.Title</a></h5>
                    <h6 class="text-capitalize fw-bold">@item.Employer.Company_Name</h6>
                        </div>
                        <div class="card-body">
                    <p class="text-capitalize">@item.Job_Location</p>
                    <p class="text-capitalize d-inline">@item.Job_Schedule</p>
                    <p class="text-capitalize">@item.Job_Type</p>
                    <p class="text-capitalize"> @item.Classification</p>
                    <p class="text-capitalize">@item.Salary</p>
                    <p>Views: @viewsCount</p>
                    <p>Applies: @appliesCount</p>
                    <p>Reviewed Candidates: @reviewedCandidatesCount</p>
                    <p>Selected Candidates: @selectedCandidatesCount</p>
                        </div>

                        <div class="card-footer">
                           
                            <p class="text-muted" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:150rem;"> @item.Job_Details</p>
                                 
                        </div>
                <br />

                <div class="d-flex justify-content-end">
                    <a href="@Url.Action("EditJobs", new { id = item.Jobs_Id })" class="btn btn-primary">Edit</a>
                </div>
                        </div>
          
                        </div>
            <br />

           
   

    }
  
    <br />
    <br />
  
 </div>
<div class="pagination">

          @Html.PagedListPager(Model,page => Url.Action("GetPublishedJobs",new { page}))


</div>



   







