@model Employer_Model;
@{
    ViewData["Title"] = "Create";
}

<br />
<div class="container shadow-lg rounded-2" style="background-color:rgb(153, 187, 255)">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <br />
            <div class="shadow-lg rounded-2" style="background-color:rgb(102, 153, 255)">
                <h1 style="text-align: center; color: aliceblue">
                    <img src="~/resources/websitefiles/WorkWize__Logo2.png" style="max-width:50px;" /> Your profile
                </h1>
                <h5 style="text-align: center; color: aliceblue">Your journey starts here!</h5>
                <br />
            </div>
            <hr />


            <div class="row d-flex justify-content-center">
                <div class="col-4" style="border-radius:30px;">
                    <br />
                    <h3>@Html.DisplayNameFor(model => model.Company_Description):</h3>
                    <figure ">
                        <blockquote class="blockquote">
                            <p class="mb-0">@Html.DisplayFor(modelItem => modelItem.Company_Description)</p>

                        </blockquote>

                    </figure>

                    <br />
                </div>

                <div class="col-3 d-flex justify-content-between align-content-center " style="border-radius:30px; ">
                    <br />
                    <p> <br />   <br />   <img class="rounded-circle" style="max-height:200px; width:200px; margin-right:10px;" src="@Model.Company_Logo" alt="Profile Image"></p>

                    <br />
                </div>
                <div class="col" style="border-radius: 30px;">
                    <br />
                    <h3>Details:</h3>
                    <div class="row">
                        <div class="col">
                            <h5>Company Name:</h5>
                            <p>@Html.DisplayFor(modelItem => modelItem.Company_Name)</p>
                        </div>
                        <div class="col">
                            <h5>@Html.DisplayNameFor(model => model.Company_CEO):</h5>
                            <p>@Html.DisplayFor(modelItem => modelItem.Company_CEO)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>@Html.DisplayNameFor(model => model.Company_Industry):</h5>
                            <p>@Html.DisplayFor(modelItem => modelItem.Company_Industry)</p>
                        </div>
                        <div class="col">
                            <h5>@Html.DisplayNameFor(model => model.Location):</h5>
                            <p>@Html.DisplayFor(modelItem => modelItem.Location)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>@Html.DisplayNameFor(model => model.Company_URL):</h5>
                            <a href="@Model.Company_URL" data-lightbox="@Model.Company_URL" data-title="My caption" style="color: aliceblue">Company URL</a>
                        </div>
                        <div class="col">
                            <h5>@Html.DisplayNameFor(model => model.Company_Banner):</h5>
                            <a href="@Model.Company_Banner" data-lightbox="@Model.Company_Banner" data-title="My caption" style="color: aliceblue">Preview Company Banner</a>
                        </div>
                    </div>
                    <br />
                </div>


                <br />
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-md-5 d-flex justify-content-center">
                    <fieldset>
                    @Html.ActionLink("Edit Profile", "Update", "Employer", null, new { @class = "button-29", @id = "save" })
                    </fieldset>
                </div>
            </div>
            <br />
        </div>
    </div>
    </div>

                    @section Scripts {
                        @{
                            await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }
    }
