@using System.Linq;
@using Job_Search_Application.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUsers> SignInManager
@inject UserManager<ApplicationUsers> UserManager
@model Job_Search_Application.Models.JobRequest_Model;
@{
    ViewData["Title"] = "Published Job";
}


<div class="row d-flex justify-content-center">
    <div class="col-md-10 shadow" style="background-color: aliceblue; border-radius: 20px;">
        <br />
        <div class="card-header">

            <span class="userId" style="display:none;">@ViewBag.CurrentUser</span>
            <p style="display:none;">@Html.DisplayFor(modelItem => modelItem.Job.PublisherId)</p>
            <h5>@Html.DisplayFor(modelItem => modelItem.Job.Title)</h5>
            <h6 class="text-capitalize fw-bold">@Html.DisplayFor(modelItem => modelItem.Employer.Company_Name)</h6>
        </div>
        <div class="card-body">
            <p class="text-capitalize">@Html.DisplayFor(modelItem => modelItem.Job.Job_Location)</p>
            <p class="text-capitalize d-inline">@Html.DisplayFor(modelItem => modelItem.Job.Job_Schedule)</p>
            <p class="text-capitalize">@Html.DisplayFor(modelItem => modelItem.Job.Job_Type)</p>
            <p class="text-capitalize">@Html.DisplayFor(modelItem => modelItem.Job.Classification)</p>
            <p class="text-capitalize">@Html.DisplayFor(modelItem => modelItem.Job.Salary)</p>
        </div>

        <div class="card-footer">
            <p>@Html.DisplayFor(modelItem => modelItem.Job.Job_Details)</p>
        </div>
        <br />
        @if(Model.InterviewRequest_Status == "pending")
        {
            <button data-request-id="@Model.JobRequest_Id" class="btn btn-info js-acceptrequest-btn">Accept</button>
            <button data-request-id="@Model.JobRequest_Id" class="btn btn-danger js-decline-btn">Decline</button>
        }
        @if (Model.InterviewRequest_Status == "declined")
        {
            TempData["DeclineMessage"] = "You have declined the interview request";
            @if (TempData.ContainsKey("DeclineMessage"))
            {
                <div class="alert alert-danger">@TempData["DeclineMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "accepted") 
        {
            TempData["AcceptRequestMessage"] = "You have accepted the interview request";
            @if (TempData.ContainsKey("AcceptRequestMessage"))
            {
                <div class="alert alert-success">@TempData["AcceptRequestMessage"]</div>
            }
        }

        @if (Model.InterviewRequest_Status == "canceled")
        {
            TempData["CancelMessage"] = "The employer has widthdrawn the request";
            @if (TempData.ContainsKey("CancelMessage"))
            {
                <div class="alert alert-danger">@TempData["CancelMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "accepted")
        {
            TempData["AcceptRequestMessage"] = "You have accepted the interview request";
            @if (TempData.ContainsKey("AcceptRequestMessage"))
            {
                <div class="alert alert-success">@TempData["AcceptRequestMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "interviewed")
        {
            TempData["interviewMessage"] = "You have been interviewed";
            @if (TempData.ContainsKey("interviewMessage"))
            {
                <div class="alert alert-success">@TempData["interviewMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "hired")
        {
            TempData["hireMessage"] = "You have been hired";
            @if (TempData.ContainsKey("hireMessage"))
            {
                <div class="alert alert-success">@TempData["hireMessage"]</div>
            }
        }
       
     
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootbox@5.5.2/dist/bootbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootbox@5.5.2/dist/bootbox.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-decline-btn').click(function (e) {
                var declineButton = $(this);
                var acceptButton = $('.js-acceptrequest-btn');
                var requestId = declineButton.data("request-id");

                bootbox.confirm({
                    message: "Are you sure you want to decline this job request?",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Employee/DeclineRequest/" + requestId,
                                method: "PUT"
                            })
                                .done(function () {
                                    bootbox.alert("You declined the request successfully");
                                    declineButton.hide(); // Hide the decline button
                                    acceptButton.hide(); // Hide the accept button
                                })
                                .fail(function () {
                                    bootbox.alert("Something went wrong!");
                                });
                        }
                    }
                });
            });

            $('.js-acceptrequest-btn').click(function (e) {
                var acceptButton = $(this);
                var declineButton = $('.js-decline-btn');
                var requestId = acceptButton.data("request-id");

                bootbox.confirm({
                    message: "Are you sure you want to accept this interview request?",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-info'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Employee/AcceptRequest/" + requestId,
                                method: "PUT"
                            })
                                .done(function () {
                                    bootbox.alert("You accepted the interview request successfully");
                                    acceptButton.hide(); // Hide the accept button
                                    declineButton.hide();
                                })
                                .fail(function () {
                                    bootbox.alert("Something went wrong!");
                                });
                        }
                    }
                });
            });
        });
    </script>

}