@using System.Linq;
@using Job_Search_Application.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUsers> SignInManager
@inject UserManager<ApplicationUsers> UserManager
@model Job_Search_Application.Models.JobRequest_Model;
@{
    ViewData["Title"] = "Published Job";
}

<h2>@Model.Job.Title</h2>
<button class="btn btn-primary" onclick="goBack()">Back</button>


<div class="card mb-4 border-light shadow" style="max-width: 900px">
    <div class="card-body border-bottom">
        <div class="row">
            <div class="col">
                <img src="@Model.Employer.Company_Logo" alt="" class="rounded-circle float-start" style="height: 50px; width: 50px; margin-right: 10px; border: solid; border-color: paleturquoise; border-width: 0.9px" />
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="card-title text-capitalize">@Model.Employer.Company_Name</h5>
                        <p class="card-text text-dark">@Model.Employer.User.Email, @Model.Employer.Location</p>



                    </div>
                    @if (Model.Request_Status == "pending")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(204, 230, 255); min-width:150px; min-height:40px;  padding: 10px;">Status: Awaiting Review</div>

                    }
                    @if (Model.Request_Status == "accepted" && Model.InterviewRequest_Status == "pending")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(179, 255, 204); min-width:150px; min-height:40px;  padding: 10px;">Status: Accepted</div>

                    }
                    @if (Model.Request_Status == "accepted" && Model.InterviewRequest_Status == "accepted")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(204, 230, 255); min-width:150px; min-height:40px;  padding: 10px;">Status: Interview Pending</div>

                    }
                    @if (Model.Request_Status == "rejected")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(255, 173, 153); min-width:150px; min-height:40px;  padding: 10px;">Status: Rejected</div>

                    }
                    @if (Model.InterviewRequest_Status == "declined")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(255, 173, 153); min-width:150px; min-height:40px;  padding: 10px;">Status: Withdrawn</div>

                    }
                    @if (Model.InterviewRequest_Status == "canceled")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(255, 173, 153); min-width:150px; min-height:40px;  padding: 10px;">Status: Declined</div>

                    }
                    @if (Model.InterviewRequest_Status == "interviewed")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(255, 255, 204); min-width:150px; min-height:40px;  padding: 10px;">Status: Interviewed</div>

                    }
                    @if (Model.InterviewRequest_Status == "hired")
                    {
                        <div class="rounded-1 justify-content-center align-middle" style="box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; text-align:center; background-color:rgb(179, 255, 204); min-width:150px; min-height:40px;  padding: 10px;">Status: Hired</div>

                    }
                </div>




                <p class="card-text">@Model.Employer.Company_Industry</p>
                <p class="card-text">@Model.Employer.Company_CEO</p>


            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <p class="card-text"><h4>Company Description</h4> @Model.Employer.Company_Description</p>
            </div>
            <a href="@Model.Employer.Company_URL">@Model.Employer.Company_URL</a>
        </div>
    </div>
    <div class="card-footer">
        @if (Model.InterviewRequest_Status == "pending")
        {
            <button data-request-id="@Model.JobRequest_Id" class="btn btn-info js-acceptrequest-btn">Accept</button>
            <button data-request-id="@Model.JobRequest_Id" class="btn btn-danger js-decline-btn">Decline</button>
        }
        @if (Model.InterviewRequest_Status == "declined")
        {
            TempData["DeclineMessage"] = "You have declined the interview request";
            @if (TempData.ContainsKey("DeclineMessage"))
            {
                <div class="alert alert-danger">@TempData["DeclineMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "accepted")
        {
            TempData["AcceptRequestMessage"] = "You have accepted the interview request";
            @if (TempData.ContainsKey("AcceptRequestMessage"))
            {
                <div class="alert alert-success">@TempData["AcceptRequestMessage"]</div>
            }
        }

        @if (Model.InterviewRequest_Status == "canceled")
        {
            TempData["CancelMessage"] = "The employer has widthdrawn the request";
            @if (TempData.ContainsKey("CancelMessage"))
            {
                <div class="alert alert-danger">@TempData["CancelMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "interviewed")
        {
            TempData["interviewMessage"] = "You have been interviewed";
            @if (TempData.ContainsKey("interviewMessage"))
            {
                <div class="alert alert-success">@TempData["interviewMessage"]</div>
            }
        }
        @if (Model.InterviewRequest_Status == "hired")
        {
            TempData["hireMessage"] = "You have been hired";
            @if (TempData.ContainsKey("hireMessage"))
            {
                <div class="alert alert-success">@TempData["hireMessage"]</div>
            }
        }

    </div>

</div>



@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootbox@5.5.2/dist/bootbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootbox@5.5.2/dist/bootbox.min.js"></script>

    <script>
        function goBack() {
            window.history.back();
        }
        $(document).ready(function () {
            $('.js-decline-btn').click(function (e) {
                var declineButton = $(this);
                var acceptButton = $('.js-acceptrequest-btn');
                var requestId = declineButton.data("request-id");

                bootbox.confirm({
                    message: "Are you sure you want to decline this job request?",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Employee/DeclineRequest/" + requestId,
                                method: "PUT"
                            })
                                .done(function () {
                                    bootbox.alert("You declined the request successfully");
                                    declineButton.hide(); // Hide the decline button
                                    acceptButton.hide(); // Hide the accept button
                                })
                                .fail(function () {
                                    bootbox.alert("Something went wrong!");
                                });
                        }
                    }
                });
            });

            $('.js-acceptrequest-btn').click(function (e) {
                var acceptButton = $(this);
                var declineButton = $('.js-decline-btn');
                var requestId = acceptButton.data("request-id");

                bootbox.confirm({
                    message: "Are you sure you want to accept this interview request?",
                    buttons: {
                        cancel: {
                            label: 'No',
                            className: 'btn-primary'
                        },
                        confirm: {
                            label: 'Yes',
                            className: 'btn-info'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/Employee/AcceptRequest/" + requestId,
                                method: "PUT"
                            })
                                .done(function () {
                                    bootbox.alert("You accepted the interview request successfully");
                                    acceptButton.hide(); // Hide the accept button
                                    declineButton.hide();
                                })
                                .fail(function () {
                                    bootbox.alert("Something went wrong!");
                                });
                        }
                    }
                });
            });
        });
    </script>

}