@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;
@using System.Linq;
@using System.Web;

@model IPagedList<Job_Search_Application.Models.SavedJobs_Model>;
@{
    ViewData["Title"] = "Published Job";
}
<br />
@{
    Html.RenderPartial("_EmployeeNavPartial2");
}
<br />
@if (Model.Count() == 0)
{
    <div class="alert alert-info">
        <span>You don't have any saved jobs.</span>
    </div>
}
else
{
    <br />

    <div class="col-md-9 ">
        <form class="d-flex">
            <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Job title, part-time...">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <br />

    <h3>Saved Jobs</h3>
    <br />

    <br />

    <table class="table table-striped table-borderless shadow-lg rounded-3" style="text-align:center; background-color:rgb(128, 204, 255);">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Company Name</th>
                <th>Location</th>
                <th>Closing Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a style="color:aliceblue" href="/Job/JobsApplication/@item.JobId">@item.Job.Title</a>
                        <p class="text-muted">@item.Job.PublishDate.Value.ToShortDateString()</p>
                    </td>
                    <td>@item.Employer.Company_Name</td>
                    <td>@item.Job.Job_Location</td>
                    <td>@item.Job.DeactivationDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <br />

    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("SavedJobs", new { page }))
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootbox@5.5.2/dist/bootbox.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootbox@5.5.2/dist/bootbox.min.js"></script>

<script>
    $(document).ready(function () {
        $('.unsaveButton').on('click', function () {
            var jobId = $(this).data('jobid');

            // Show confirmation dialog
            bootbox.confirm("Are you sure you want to unsave this job?", function (result) {
                if (result) {
                    // Send an AJAX request to unsave the job
                    $.ajax({
                        url: '/Employee/UnsaveJob',
                        type: 'POST',
                        data: { jobId: jobId },
                        success: function (response) {
                            if (response.success) {
                                // Handle the success response, e.g., show a success message
                                bootbox.alert("Job successfully unsaved.", function () {
                                    // Reload the page
                                    location.reload();
                                });
                            } else {
                                // Handle the error response, e.g., show an error message
                                bootbox.alert("An error occurred while unsaving the job.");
                            }
                        },
                        error: function () {
                            // Handle the error response, e.g., show an error message
                            bootbox.alert("An error occurred while unsaving the job.");
                        }
                    });
                }
            });
        });
    });
</script>