@model Job_Search_Application.ViewModels.EmployeeProfileViewModel;
@{
    ViewData["Title"] = "Profile";
}



<br />
<br />
<div class="container-fluid shadow" style="background-color:rgb(150, 165, 234); border-radius:20px;">
    <div class="row d-flex justify-content-center">
        <h1 style="text-align: center; color:aliceblue;">Your Profile</h1>

      
        <div class="col-md-4">
            <hr />
            <div class="col " style="border-radius:30px;">
                <br />
                <img src="/resources/websitefiles/profile_default.png" />
                <br />
            </div>
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.ProfileImage): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.ProfileImage) </p>
                    <br />
                </div>
        </div>
    
    <div class="col-md-4">
            <hr />
            <div class="row d-flex justify-content-center">
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.First_name): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.First_name) </p>
                    <br />
                </div>

                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Last_name): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Last_name) </p>
                    <br />
                </div>
                </div>

            <div class="row d-flex justify-content-center">
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.birthDate): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.birthDate) </p>
                    <br />
                </div>

                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Gender): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Gender) </p>
                    <br />
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Address): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Address) </p>
                    <br />
                </div>

                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Resume): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Resume) </p>
                    <br />
                </div>
            </div>
            <fieldset>
                <a asp-controller="Employee" asp-action="Update" class="btn btn-primary">Edit Profile</a>
            </fieldset>
           </div>
   
       
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}