@model Employee_Model;
@{
    ViewData["Title"] = "Profile";
}

<style>
    body {
        background: url("https://res.cloudinary.com/dup5hdi05/image/upload/v1685501821/bg_i57bym.png");
    }

    .registration-form {
        padding: 50px 0;
    }

        .registration-form form {
            background-color: #fff;
            max-width: 600px;
            margin: auto;
            padding: 50px 70px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
        }
</style>
<br />
<br />
<div class="container shadow" style="background: linear-gradient(to bottom, #007bff, white); border-radius:20px; max-width:800px;">
    <div class="row d-flex justify-content-center">
        <h1 style="text-align: center; color:aliceblue;">Your Profile</h1>

      
        <div class="col-md-4">
            <hr />
            <div class="col " style="border-radius:30px;">
                <br />
                <img class="img-fluid" src="@Model.ProfileImage" alt="lol">
                <br />
            </div>
               
        </div>

    
    <div class="col-md-4">
            <hr />
            <div class="row d-flex justify-content-center">
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.First_name): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.First_name) </p>
                    <br />
                </div>

                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Last_name): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Last_name) </p>
                    <br />
                </div>
                </div>

            <div class="row d-flex justify-content-center">
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.birthDate): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.birthDate) </p>
                    <br />
                </div>

                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Gender): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Gender) </p>
                    <br />
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col " style="border-radius:30px;">
                    <br />
                    <h5>  @Html.DisplayNameFor(model => model.Address): </h5>
                    <p> @Html.DisplayFor(modelItem => modelItem.Address) </p>
                    <br />
                </div>
                <h5>  @Html.DisplayNameFor(model => model.Resume): </h5>
                <a href="@Model.Resume" data-lightbox="@Model.Resume" data-title="Resume:">Preview CV</a>
            </div>
            <fieldset>
                <a asp-controller="Employee" asp-action="Update" class="w-100 btn btn-lg btn-success shadow  " style="background-color:#3C9AFF; color:white" id="save">Edit Profile</a>
                <br />
            </fieldset>
           </div>
   
       
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}